<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143834371075-h8jqsht30aa13mtdct3tv0q5pp9tf4tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143834371075-h8jqsht30aa13mtdct3tv0q5pp9tf4tn</string>
	<key>API_KEY</key>
	<string>AIzaSyBW3yKvs7a9JG84R4IlDyoyOxzaTeZIMF0</string>
	<key>GCM_SENDER_ID</key>
	<string>143834371075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kunci.mobilePssi</string>
	<key>PROJECT_ID</key>
	<string>pssi-bcfac</string>
	<key>STORAGE_BUCKET</key>
	<string>pssi-bcfac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143834371075:ios:03f33b79112619f3d42a36</string>
</dict>
</plist>